<div class="user-contacts">
  <table class="table table-contacts table-condensed table-hover table-striped">
    <tbody>
    <tr>
      <td>[pic]</td>
      <td>UserName</td>
    </tr>
    <tr>
      <td>[pic]</td>
      <td>UserName</td>
    </tr>
    <tr>
      <td>[pic]</td>
      <td>UserName</td>
    </tr>
    <tr>
      <td>[pic]</td>
      <td>UserName</td>
    </tr>
    </tbody>
  </table>
</div>