<div class="user-commitments">
  <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>End Date</th>
        <th>Point Value</th>
        <th>Overseer User</th>
        <th>Active User</th>
        <th>Description</th>
        <th>Date Created</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ex. Date</td>
        <td>15</td>
        <td>OtherUser</td>
        <td><%= @user.name %></td>
        <td>Fake Description</td>
        <td>Ex. Date</td>
        <td><%= link_to "Edit", 'commitment/edit' %></td>
      </tr>
    </tbody>
  </table>
</div>