<% provide(:title, 'Help') %>


<h1>Need help?</h1>
<p>
  <h2>What is the purpose of this website?</h2>
  There isn't an easy way to measure whether someone is trustworthy and completes stuff on time. We're here to fix that. Whenever
  you are in a situation where you've made a promise to someone - whether it's "I'll bring those TPS reports to you by Friday", or
  "I'll watch your dog this weekend" - you can make a Commitment to that person, and
  have a record to show when you complete it.
  <br><br>
  Each commitment isn't created equally - those gargantuan TPS reports should probably be worth more than dogsitting. To compensate, the harder the activity
  is you complete, the more points you get. The higher your RelationshipCapital score, the more people can trust you. It's a win-win
  situation.
</p>
<p>
  <h2>Profile Help</h2>
  Create a profile by clicking on "Create Profile".
  <br><br> When signed in, create a commitment by clicking "Create Commitment".
  <br><br> When signed in, you can also click on the Account dropdown to visit your profile page, edit your settings, or sign out.

</p>