<% provide(:title, 'Home') %>

<h1>Welcome to the future of commitment.</h1>
<h2>
  This is Relationship Capital.
</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, pulvinar nec facilisis sit amet, volutpat ac mi. Proin eleifend nulla tincidunt est tempus, in varius magna rhoncus. Suspendisse lobortis mollis venenatis. Ut et augue quis tellus euismod dignissim fringilla sed ante. Nam at dui imperdiet, vehicula ante quis, sodales lacus. Pellentesque et pretium erat. Cras at feugiat nunc, at viverra ligula. Nam commodo, justo sed commodo volutpat, odio mi tincidunt sem, ut gravida urna odio quis lectus. Duis quis adipiscing neque. Integer ac nisl fringilla, dapibus felis in, vehicula massa. Suspendisse venenatis odio metus, sed imperdiet augue mattis sollicitudin. Donec porttitor eros sit amet dapibus ultricies. Vestibulum tellus urna, pretium non lobortis non, venenatis vitae elit. Cras commodo felis at massa rutrum, quis imperdiet purus aliquet.
</p>