<% provide(:title, 'Home') %>

<h1>Welcome to the future of commitment.</h1>
<h2>
  This is Relationship Capital.
</h2>
<p>
  You need a way to measure the trustworthiness of someone. We have the answer.
  <br> <br>
  Build a profile on RelationshipCapital and collect points for every Commitment you keep. When someone connects with you, they'll see your history of good deeds and commitments kept, whether in the everyday workplace or at home.
  <br>
  Are you ready to build trust?
</p>