<% provide(:title, "Commitment Feedback") %>
<div class="row">
  <aside class="span8">
  <section>
    <h1>Feedback for commitment:</h1>
  </section>
  <section>
    <h2>From Negative to positive, how would you rank the Active User?</h2>
  </section>
  <section>
    <label>1 - 10 </label>
    <input type="text" class = "span4" placeholder = ""/>
  </section>
  <section>
    <h2>Any comments related to their performance?</h2>
  </section>
  <section>
    <textarea class="span 6"></textarea>
  </section>
  <section>
    <button class="btn btn-large btn-success">Submit Feedback</button>
  </section>
  </aside>
</div>