<footer class="footer">
  <small>
    RelationshipCapital by Group 1
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Need Help?", help_path%></li>
    </ul>
  </nav>
</footer>